body{
margin:0;
padding:0;
border:0;
}
.img-containner img{
    width:100%;
    display:block;
}
.img-containner{
  position: relative;
}

#enter-btn{
    width: 22%;
    position: absolute;
    left: 26%;
    margin: 18% 0 0 13%;
    position: absolute;
    top: 18%;
}
#enter-btn:hover{
    cursor:pointer;
}
.absoluteCenter{
    width:1024px;
    height:768px;
    left:50%;
    margin:-384px 0 0 -512px;
    position:absolute;
    top:50%;
}
.index-nav-bg{
    background: url("../img/nav-bg.png");
    width: 100%;
    height: 100%;;
}
.index-nav{
    width: 100%;
    height: 70%;
    margin-top: 12%;
}

.imgWrap{
    width:100%;
    height:33.33%;
}

.imgWrap li{
    width: 17%;
    height: 100%;
    float: left;
    margin: 10px 10px 0 0;
    list-style: none;
    text-align: center;
    font-size: 0;
}

.imgWrap a {
    display: block;
    height: 100%;
    background:url(../img/pixel.gif) repeat center;
}
.imgWrap a:hover {
}
.imgWrap span {
    display: inline-block;/*将行内元素改变为行内块元素显示*/
    width: 1px;/*实现ＩＥ下可读效果*/
    height: 100%;/*使用元素高度和图片容器高度一样*/
    vertical-align: middle;/*垂直对齐*/
}

.imgWrap img {
    vertical-align: middle;
}

