body{
margin:0;
padding:0;
border:0;
background:rgb(169,218,246);
}

.img-containner img{
    width:100%;
    display:block;
}
.img-containner{
  position: relative;
}

#enter-btn{
    width: 22%;
    position: absolute;
    left: 26%;
    margin: 18% 0 0 13%;
    position: absolute;
    top: 18%;
}
#enter-btn:hover{
    cursor:pointer;
}
.absoluteCenter{
    background:rgb(169,218,246);
    width:1024px;
    height:768px;
    left:50%;
    margin:-384px 0 0 -512px;
    position:absolute;
    top:50%;
}
